
#board-desk {
  height: 93%;
  position: absolute;
  left: 18%;
  width: 81%;
  top: 6%;
  padding: 0;
  display: block;
  margin-bottom: 0;
  margin-left: 10px;
  overflow: auto;


  table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
  }




  td {
    background: #377f78;
    margin: 2px;
    height: 10px;


    &:hover {
      background: $m-green;
      cursor: pointer;
    }
  }

  table {
      table-layout: fixed;
    width: 100%;

    border-spacing: 10px;
    height: 100%;

  }
}

.board-activity {
  margin-left: 15px;
  float: left;
  width: 55%;
  @extend .desk-layout;



}

#modal-board {
  display: block;

  .modal-content {
    overflow: auto;
    width: 95%;
    height: 90%;
    left: 1%;
    top: 2%;
    position: absolute;
    margin: 0;


    #board-table {
      width: 100%;



    }
  }
}

.board-content {
  float: right;
  width: 40%;
  margin-right: 15px;
  @extend .desk-layout;
}


.board-header {
  background: $m-green;
  width: 100%;

  .left {
    float: left;
  }

  .right {
    float: right;
  }


}



