$board-td-size: 20px;

#board-desk {
  height: 93%;
  position: absolute;
  left: 18%;
  width: 81%;
  top: 6%;
  padding: 0;
  display: block;
  margin-bottom: 0;
  margin-left: 10px;
  overflow: auto;

  table {
    border-collapse: collapse;
  }

  .emptiness {
    background: #2577ff;
  }

  td {
    background: #377f78;
    margin: 2px;
    height: $board-td-size;
    width: $board-td-size;
    border: 1px solid black;

    &:hover {
      background: $m-green;
      cursor: pointer;
    }

  }

  table {
    table-layout: fixed;
    width: 100%;

    border-spacing: 10px;
    height: 100%;

  }
}

.board-activity {
  margin-left: 15px;
  float: left;
  width: 55%;
  @extend .desk-layout;

}

#modal-board {
  display: block;

  .modal-content {
    overflow: auto;
    width: 95%;
    height: 90%;
    left: 1%;
    top: 2%;
    position: absolute;
    margin: 0;

    #board-table {
      width: 100%;

    }
  }
}

.board-content {
  float: right;
  width: 40%;
  margin-right: 15px;
  @extend .desk-layout;
}

.board-header {

  &.vertical {
    width: $board-td-size;
    height: $board-td-size;
    text-align: center;
  }

  &.horizontal {
    text-align: left;

  }

}



