

#calendar-desk {
  display: none;
}

.calendar-activity {
  margin-left: 15px;
  float: left;
  width: 55%;
  @extend .desk-layout;
}

.calendar-content {
  float: right;
  width: 40%;
  margin-right: 15px;
  @extend .desk-layout;
}