$desk-height:95%;

@import "desks/todo";
@import "desks/calendar";
@import "desks/goals";
@import "desks/board";


.desk-layout {
  height: $desk-height;
  margin-top: 15px;
  background: $navy-dark;
  box-shadow: 0px 0px 11px 0px black;
}

#todo-desk {
  display: none;
  height: $desk-height;
  width: 80%;
  position: absolute;
  left: 20%;
  top:5%;
}
