$desk-height:100%;

@import "desks/todo";
@import "desks/calendar";
@import "desks/goals";
@import "desks/board";


.desk-layout {
  height: $desk-height;
  margin-top: 10px;
  margin-left: 10px;
  background: $navy-dark;
  box-shadow: 0px 0px 11px 0px black;
}


