$dark-blue:  #243443;
$dark-bg: #192a34;
$font-menu: #bfccd5;

@import "header";
@import "menu";
@import "content";


body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;

  background: $dark-bg;
}

