$dark-blue:  #243443;
$dark-bg: #192a34;
$white-dark: #e4f6ff;
$dark-navy: #232f3b;
$navy-dark: #232d37;
$blue-white:#0770e6;


$m-blue:#2577ff;
$m-red:#f15a52;
$m-yellow:#f0b203;
$m-green:#00a654;
$m-green-dark:#01a252;

$font-main: 'Roboto', sans-serif;

@import "button";
@import "modal";
@import "header";
@import "menu";
@import "desk";


body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  font-family: $font-main;
  background: $dark-bg;
}

