$dark-blue:  #243443;
$dark-bg: #192a34;
$white-dark: #bfccd5;
$dark-navy: #232f3b;
$navy-dark: #232d37;
$blue-dark:#0770e6;


$font-main: 'Roboto', sans-serif;

@import "header";
@import "menu";
@import "desk";


body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  font-family: $font-main;
  background: $dark-bg;
}

