

#menu {

  width: 20%;
  height: 100%;
  background: $dark-blue;
  position: absolute;
  box-shadow: 1px 0 4px;

  #logo {
    cursor: pointer;
    font-size: 30px;
    color: white;

    margin: 10px;
    i {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  ul {
    width: 100%;
    font-size: 24px;
    color: $font-menu;
    cursor: pointer;
    list-style-type: none;
  }

  li {
    width: 100%;
    margin-top:5px;
  }

  li i {
    margin-right: 20px;
  }
}


