
#menu {

  width: 250px;
  height: 100%;
  background: $dark-blue;
  position: absolute;
  box-shadow: 1px 0 4px;

  #logo {
    cursor: pointer;
    font-size: 28px;
    color: white;

    margin: 10px;
    i {
      margin-left: 10px;
      margin-right: 15px;
    }
  }


  // Items menu
  ul {
    width: 100%;
    font-size: 25px;
    color: $white-dark;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
  }

  li {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;


    i {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  li:hover, li.hovered {
    background: $dark-navy;
    color: $blue-white;
    box-shadow: 1px 1px 1px black;

    i {
      color: #ff00ff;
    }
  }

}


